.dropdown {
  height: 20px;
  overflow: hidden;
  display: inline-block;
  width: 125px; }

.dropdown-container {
  border: 1px solid black;
  width: 200px;
  display: inline-block; }

.dropdown-button {
  height: 26px; }
