@import url("https://fonts.googleapis.com/css?family=Abel");
.portfolio {
  height: calc(100vh - 110px); }

.portfolio-title-wrapper {
  display: flex;
  background: #262B2D;
  padding: 20px 20px 0; }

.portfolio-title {
  font-size: 24pt;
  margin-left: 10px;
  text-align: center;
  color: white; }

.portfolio-input-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 400px; }

.portfolio-list-wrapper {
  padding: 0 20px; }

.portfolio-add-coin {
  margin-right: 20px;
  height: 35px;
  width: 130px;
  font-size: 18pt;
  padding: 5px; }

.portfolio-add-btn {
  margin: 0 0 10px 20px;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/rounded-add-button.svg");
  background-size: contain;
  background-repeat: no-repeat; }
  .portfolio-add-btn:hover {
    cursor: pointer;
    background-image: url("../../assets/rounded-add-green.svg"); }

.coin-title {
  font-size: 18pt;
  margin-left: 10px;
  color: #fff; }

.empty-portfolio-title {
  font-size: 18pt;
  margin: 20px;
  color: white; }

.portfolio-coin {
  display: block;
  border-bottom: 1px solid black; }

.active {
  color: orange; }
