.watch-list {
  padding: 30px; }

.watch-list-add {
  width: 20px;
  height: 20px;
  margin: 5px 5px 0; }

.empty-watch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px; }

.empty-watch-title {
  font-size: 20pt;
  margin: 5px; }
