.watch-list {
	padding: 30px;
	height: calc(100vh - 110px);
}

.watch-list-add {
	width: 20px;
	height: 20px;
	margin: 8px 8px 0;
}

.empty-watch {
	margin: 30px;
	height: 100vh;
}

.empty-watch-title {
	font-size: 20pt;
	margin: 5px;
	color: white;
}

.watchlist-subtitle {
	font-size: 18pt;
	margin-left: 10px;
	color: #fff;
}