.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-input, .password-input {
  height: 50px;
  width: 400px;
  margin: 10px;
}

.btn-submit {
  width: 400px;
  height: 50px;
  margin: 10px;
}