@import '../../variable.scss';

.welcome {
	background: $blue;
	height: 100vh;
	width: 100vw;
	display: flex;
}

.welcome-text {
	display: flex;
	color: #fff;
	position: absolute;
	padding: 120px;
	align-items: center;
}
.welcome-title {
	font-family: $title-font;
	font-size: 42pt;
}

.line-graph {
	padding-top: 380px;
	width: 100%;
	max-height: 100%;
}

.start-button {
	background: none;
	color: #fff;
	width: 200px;
	height: 200px;
	margin-left: 200px;
	border: 12px solid white;
	border-radius: 100px;
	font-size: 23pt;
	outline: none;
	&:hover {
		border: 12px solid $green;
		cursor: pointer;
	}
}

.welcome-subtitle {
	color: $orange;
}