@import '../../variable.scss';

.card {
	margin: 15px auto;
	display: flex;
	padding: 10px;
	border-radius: 15px;
	background: #274156;
}
.number {
	margin-right: 5px;
	color: $orange;
}
.coin-name {
	font-size: 24pt;
	color: #fff;
	font-family: $title-font;
	margin: 0 10px;
	width: 350px;
	&.port-coin-name {
		width: 200px;
	}
}

.short {
	margin-left: 5px;
	color: #fff;
}

.price {
	color: white;
	font-size: 20pt;
	margin: 0 auto;
	width: 200px;
	&.port-price {
	text-align: right;
	margin: 0;
	}
}

.dayChange {
	text-align: right;
	margin-right: 15px;
	font-size: 20pt;
	width: 200px;
}

.positive {
	color: #9af765;
}

.negative {
	color: rgb(245, 84, 70);
}

.hour {
	margin-left: 10px;
	color: white;
}

.amount {
	font-size: 20pt;
	margin: 0 auto;
	color: #f2bb30;
	// text-align: center;
	width: 200px;
}

.btn-fav {
	width: 35px;
	height: 35px;
	background-image: url('../../assets/rounded-add-button.svg');
	background-size: contain;
	background-repeat: no-repeat;
	&.minus {
	background-image: url('../../assets/round-minus.svg');
	background-repeat: no-repeat;
	}
	&:hover {
		cursor: pointer;
	}
}

.port-btn {
	margin-left: 10px;
}

