@import '../../variable.scss';

.home-page {
	padding: 30px;
}

.home-page-subtitle {
  display: inline-block;
  margin-left: 10px;
}

.home-title {
  text-align: center;
}

.home-nav {
	display: flex;
	justify-content: center;
	font-size: 20pt;
}

.filter-btn {
  height: 25px;
  width: 90px;
  margin: 0 5px;
  border-radius: 5px;
  border: 3px solid $blue;
}

.filter-btn-wrapper {
  margin-left: auto;
}

.subtitle-wrapper {
  display: flex;
  justify-content: space-between;
}

.spinner {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}