@import url("https://fonts.googleapis.com/css?family=Abel");
.header {
  background: #274156;
  height: 110px; }

.app-title {
  margin: 0 20px;
  color: #fff;
  font-family: "Abel", sans-serif; }

ul {
  display: flex; }

li {
  margin: 10px;
  list-style: none; }
  li:hover {
    cursor: pointer; }

.home-link {
  margin-left: auto; }

.header-link,
.home-link {
  color: #fff; }
