@import '../../variable.scss';

.header {
	background: #274156;
	height: 110px;
  padding: 20px;
}

.app-title {
  color: #fff;
  font-family: $title-font;
  font-size: 30pt;
  margin: none;
}

ul {
  display: flex;
}

li {
  &:hover {
    cursor: pointer;
  }
  list-style: none;
}

.portfolio-link {
  margin-right: 10px;
}

.login {
  position: absolute;
  right: 100px;
  margin-right: 10px;
  background: none;
}
.sign-out, .sign-up {
  position: absolute;
  right: 40px;
}
.header-link,
.home-link {
  margin-bottom: 10px;
  color: #fff;
}

// .line-graph-header {

//   height: 75px;
//   position: fixed;
//   top: 25px;
//   left: 40%;
//   // margin-bottom: 100px;
// }
