@import '../../variable.scss';

.header {
	background: #274156;
	height: 110px;
}

.app-title {
  margin: 0 20px;
  color: #fff;
  font-family: $title-font;
}

ul {
  display: flex;
}

li {
  &:hover {
    cursor: pointer;
  }
  margin: 10px;
  list-style: none;
}

.home-link {
  margin-left: auto;
}

.header-link,
.home-link {
  color: #fff;
}
