@import '../../variable.scss';


.app-title {
  &.login-title {
    margin: 0;
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: $background;
}

.input-field {
  outline: $orange;
}

.input-field,
.btn-submit {
  margin-top: 20px;
  height: 35px;
  width: 300px;
  font-size: 14pt;
}

.btn-submit {
  margin-bottom: 30px;
  color: #fff;
  background-color: $background;
  border: 2px solid #fff;
  outline: none;
  &:hover {
    cursor: pointer;
    border: 2px solid $green;
  }
}

.modal-title {
  margin-top: 20px;
  font-size: 16pt;
}

.error-message {
  margin-top: 20px;
  color: #fff;
}

.login-corner-button {
  position: absolute;
  padding: 5px;
  color: #fff;
  top: 30px;
  right: 30px;
  background: $background;
  border: 1px solid $green;
  width: 70px;
  outline: none;
}