@import url("https://fonts.googleapis.com/css?family=Abel");

$title-font: 'Abel', sans-serif;
$title-color: orange;
$red: rgb(245, 84, 70);
$blue: #244968;
$green: #9af765;
$orange: #f2bb30;
$almost-black: #373b3f;
$background: #262B2D;
// $background: #373b3f; //grey
// $background: #e0e0e0; //off white
// $background: #e5e5e5; //off grey