@import url("https://fonts.googleapis.com/css?family=Abel");
.header {
  background: #274156;
  height: 110px; }

.app-title {
  color: #fff;
  font-family: "Abel", sans-serif;
  font-size: 30pt;
  margin: 0 0 0 30px;
  padding-top: 25px;
  width: 300px; }
  .app-title.login-title {
    text-align: center; }

ul {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  border: 0 1px 1px solid white;
  border-radius: 5px; }

li {
  padding: 0 5px;
  list-style: none; }
  li:hover {
    cursor: pointer; }

.login-btn {
  right: 100px;
  background: none;
  margin-top: 10px;
  color: #fff; }
  .login-btn.email {
    margin-top: 0;
    color: #f2bb30; }
    .login-btn.email:hover {
      cursor: default; }

.sign-out {
  background-image: url("../../assets/tick-inside-circle.svg");
  background-size: cover;
  height: 14px;
  width: 14px;
  margin-left: 5px; }
  .sign-out:hover {
    background-image: url("../../assets/tick-inside-circle-red.svg"); }

.sign-up {
  margin: 10px 0 0 5px; }

.header-link {
  font-size: 12pt;
  color: #fff; }
  .header-link:hover {
    color: #9af765; }

.pipe {
  color: #fff;
  font-size: 16pt;
  font-weight: lighter;
  margin: 0 5px; }
