@import url("https://fonts.googleapis.com/css?family=Abel");
.header {
  background: #262B2D;
  height: 110px;
  width: 95%;
  margin: 0 auto;
  border-bottom: 2px solid white; }

.app-title {
  color: #fff;
  font-family: "Abel", sans-serif;
  font-size: 32pt;
  margin: 0 0 0 30px;
  padding-top: 30px;
  width: 300px; }
  .app-title.login-title {
    text-align: center; }

.header-nav {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  border: 0 1px 1px solid white;
  border-radius: 5px; }

li {
  padding: 0 5px;
  list-style: none; }
  li:hover {
    cursor: pointer; }

.login-btn {
  right: 100px;
  background: none;
  margin-top: 10px;
  color: #fff; }
  .login-btn.email {
    margin-top: 0;
    color: #c9c9c9; }
    .login-btn.email:hover {
      cursor: default; }

.sign-out {
  background-image: url("../../assets/tick-inside-circle.svg");
  background-size: cover;
  height: 14px;
  width: 14px;
  margin-left: 5px; }
  .sign-out:hover {
    background-image: url("../../assets/tick-inside-circle-red.svg"); }

.sign-up {
  margin: 10px 0 0 5px; }

.header-link {
  font-size: 12pt;
  color: #fff; }
  .header-link:hover {
    color: #9af765; }

.pipe {
  color: #fff;
  font-size: 16pt;
  font-weight: lighter;
  margin: 0 5px; }

.active li {
  color: #9af765; }

.coin-in-title {
  color: #f2bb30; }

@media screen and (max-width: 600px) {
  .header {
    height: 90px; }
  .header-nav {
    top: 14px; }
  .app-title {
    margin-left: 0;
    font-size: 20pt; }
  .pipe {
    display: none; }
  .home-link {
    display: none; }
  .email {
    display: none; } }
